#content{
    height: 100vh;
    width: 100%;
}

#header{
    display: inline-block;
    max-width: 100%;
    min-width: 100%;
    max-height: 500px;
    background-color: black;
    text-align: center;
}

.text{
    font-size: 50px;
    color: white;
}

#navbar{
    display: inline-block;
    width: 100%;
    max-height: 100px;
    min-height: 50px;
    background-color: rgb(163, 163, 163);
}

button{
    max-height: 100px;
    min-height: 50px;
    width: 100px;
    margin-left: 8px;
    border: none;
    font-weight: bold;
    font-size: 15px;
    background-color:rgb(80, 233, 220) 

}

#Home{
    background-color: rgb(206, 206, 206);
}

button:hover{
    background-color: rgb(109, 109, 109);
    color: white;
}

#hometab{
    display: inline-block;
    position: relative;
    width: 100%;
    max-height: 1000px;
    min-height: 600px;
    align-content: center;
    justify-content: center;
    text-align: center;
    background-size: cover;
}

#mid{
    display: block;
    width: 500px;
    /* height: 400px; */
    background-color: rgba(0, 0, 0, 0.747);
    text-align: center;
    margin: auto;
    margin-top: 75px;
    padding: 75px;
}

#abttxt{
    color: white;
}

#menu{
    height: fit-content;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.61);
    background-image: url('./kitchen.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.menucard-container{
    display: grid;
    position: relative;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(4,auto);
    grid-gap: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    align-content: center;
    padding: 50px;
}

.card{
    max-width: 500px;
    max-height: 600px;
    min-height: 225px;
    min-width: 25px;
    background-color: rgb(255, 255, 255);
    border-radius: 5%;
    box-shadow: 0px 0px 5px 5px rgb(85, 85, 85);
    cursor: pointer;
}

.image{
    height: 125px;
    width: 160px;
    padding: 12px;
    border-radius: 12%;
    display: block;
    margin: auto;
}

.name{
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.info{
    display: block;
    margin: auto;
    width: 75%;
    text-align: center;
    font-size: 15px;
    padding: 5px;
}

#contact{
    display: inline-block;
    width: 100%;
    max-height: 1000px;
    min-height: 600px;
    align-content: center;
    justify-content: center;
    background-image: url('./kitchen.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#cont-card{
    width: 400px;
    height: 400px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.747);
    text-align: center;
    margin-top: 100px;
    color: white;
}
